

.tc-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
._1f3sn1b {
    max-width: initial !important;
    background: #fff !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    width: auto !important;
}
@media (min-width: 768px){
    ._1f3sn1b {
        border-left: 0px !important;
        border-right: 0px !important;
        padding: 70px;
    }
    .tc-container {
        width: 45.5rem;
    }
}
@media (min-width: 1350px){
    .tc-container {
        width: 81.875rem;
    }
}

@media (min-width: 1010px){
    .tc-container {
        width: 60.625rem;
    }
}