.filterbar {
  width: 100%;
  box-shadow: none;
  margin-left: unset;
  margin-right: unset;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  border-radius: 10px 10px 0px 0px;
}
.car_filter {
  margin-right: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  border-radius: 16px;
  border: 1px solid rgb(194, 196, 199);
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  padding-top: 5px;
}
.lmVkIt {
  transition: transform 0.3s ease 0s;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  height: inherit;
  display: flex;
  flex-direction: column;
  -moz-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  padding: 16px;
  transform: translate(0px);
}
.jSvZvk {
  padding: 10px 0px 24px;
  -moz-box-flex: 1;
  flex-grow: 1;
  overflow: auto;
}
.dNPQQh {
  border: 1px solid rgb(224, 225, 227);
  border-radius: 6px;
  width: 100%;
  padding: 8px 10px;
  font-size: 16px;
}
.iqjTqg {
  display: flex;
  flex-direction: column;
}
.kWPgKZ {
  display: flex;
  flex-direction: row;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.gKrQdv {
  display: flex;
  flex-direction: column;
  -moz-box-flex: 1;
  flex-grow: 1;
  margin-right: 16px;
  overflow: hidden;
}
.dKpJPQ {
  font-size: 14px;
  text-align: inherit;
  color: rgb(102, 107, 114);
}
.dNPQQh[type="number"] {
  appearance: textfield;
  background: #fff;
  color: hsl(0, 0%, 50%);
  height: 40px !important;
}
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  appearance: none;
}
.fNpmOJ {
  min-width: 145px;
  height: 48px;
  margin-top: 4px;
}

.gjZPbt {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  border-top: 1px solid rgb(224, 225, 227);
  padding: 16px 16px 0px;
  margin: 0px -16px;
  background: white;
}
.gjZPbt > :first-child {
  flex: 1 1 0%;
}
.hUdPjg {
  display: inline-flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  border-radius: 4px;
  min-height: 36px;
  font-size: 16px;
  color: rgb(102, 107, 114);
  border: 1px solid rgb(163, 166, 170);
  background-color: rgb(255, 255, 255);
}
.gjZPbt > :last-child {
  margin-left: 16px;
  flex: 3 1 0%;
}

.iEzCwv {
  margin-right: 8px;
  display: inline-block;
  -moz-box-align: center;
  align-items: center;
}
.izOyRA .dropDownContentHolder {
  flex: 1 1 0%;
  overflow-y: auto;
  padding-top: 24px;
}
.gUvuUo {
  padding: 0px 16px;
  width: 100%;
}
.fTIrXz {
  margin-bottom: 12px;
  line-height: 1.2;
}
.jLvUMq {
  font-size: 14px;
  font-weight: bold;
  text-align: inherit;
  color: rgb(35, 38, 42);
}
.hanirQ {
  border-radius: 10px;
  padding: 0px 6px;
  margin: 0px 3px;
  width: 39px;
  height: 16px;
  background-color: rgb(105, 201, 102);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
.drIaET {
  display: flex;
  flex-direction: column;
  -moz-box-flex: 1;
  flex-grow: 1;
  overflow: hidden;
}
.cCmKOx {
  height: 2px;
  margin: 10px 0px;
}
.hmNdbg .dropDownPopover .divider {
  margin: 20px 0px;
}
.fTIrXz {
  margin-bottom: 12px;
  line-height: 1.2;
}
.gfvDkr {
  padding-bottom: 10px;
}
.izOyRA .tagList {
  margin-bottom: 0px;
  padding-left: 16px;
  margin-left: -16px;
  margin-right: -16px;
  padding-right: 16px;
}
.cOTnrw {
  justify-content: space-around;
  cursor: pointer;
  width: max-content;
  margin-right: 10px;
  margin-bottom: 0px;
  display: block;
}
.dwAEqK {
  padding: 10px 16px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  -moz-box-pack: center;
  justify-content: center;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  -moz-box-align: center;
  align-items: center;
  border-color: rgb(224, 225, 227);
}
.cTaNfx {
  font-size: 12px;
  line-height: 1;
  font-weight: normal;
  white-space: nowrap;
}
.jzJwEM {
  display: flex;
  margin-bottom: -5px;
  overflow-x: auto;
  scrollbar-width: none;
}
.css-art2ul-ValueContainer2 {
  padding: 0px !important;
}
.car_filter label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
}
/* .car_filter .css-13cymwt-control {
  border-color: transparent;
} */
.car_filter .css-1jqq78o-placeholder {
  margin-left: 0px;
  margin-right: 0px;
}
.car_filter .css-13cymwt-control:hover {
  border-color: transparent !important;
  cursor: pointer;
}
.css-t3ipsp-control:hover{
  border-color: transparent !important;
  box-shadow: 0 0 0 1px transparent;
  background-color: transparent;
}

.css-13cymwt-control{
  background: transparent !important;
  border: none !important;
}
.carfilter_button_dropdown {
  font-size: 14px;
  color: hsl(0, 0%, 50%) !important;
  padding: 0px;
  padding-top: 8px;
  display: inline-grid;
  grid-area: 1/1/2/3;
  grid-template-columns: inherit;
  width: 100%;
  text-align: left;
}
.car_filter .css-1u9des2-indicatorSeparator {
  background-color: transparent !important;
}
.car_filter .dropdown-toggle:after {
  display: none;
}
.car_filter .dropdown-menu {
  top: 20px !important;
}
.car_filter .last_dropdown {
  left: -55px !important;
}
.dGXCjo {
  display: block;
}
.hVORPI {
  padding: 16px 8px;
}
.blQYHO {
  margin: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgb(23, 25, 28);
}
.gPeCQR {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  position: fixed;
  bottom: 76px;
  left: 0px;
  z-index: 3;
  width: 100%;
}
.eOsWZf {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 0px 6px 6px 0px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 10px);
  box-shadow: rgb(224, 225, 227) -1px 0px 0px inset;
}
.css-td2zoy {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: var(--my-proxima), proxima-nova, ProximaNova, noto,
    var(--my-gess), GESS, GE-SS, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  padding: 5px 15px;
  border-radius: 6px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgba(35, 38, 42, 0.5);
  color: #23262a;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
  text-transform: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  letter-spacing: 0.25px;
  padding: 8px 16px;
  text-transform: capitalize;
  background: #ffffff;
  border: 1px solid #e0e1e3;
  border-radius: 0 6px 6px 0;
  padding: 6px 12px 6px 6px;
  text-transform: none;
  font-weight: 700;
}
.css-xp2fim {
  margin: 0;
  font-weight: 400;
  font-family: var(--my-proxima), proxima-nova, ProximaNova, noto,
    var(--my-gess), GESS, GE-SS, sans-serif;
  font-size: 0.875rem;
  line-height: 1.57;
}
.css-na3qvr {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  font-family: var(--my-proxima), proxima-nova, ProximaNova, noto,
    var(--my-gess), GESS, GE-SS, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  padding: 5px 15px;
  border-radius: 6px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgba(35, 38, 42, 0.5);
  color: #23262a;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
  text-transform: none;
  box-shadow: none;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  letter-spacing: 0.25px;
  padding: 8px 16px;
  text-transform: capitalize;
  background: #ffffff;
  border: 1px solid #e0e1e3;
  border-radius: 6px 0 0 6px;
  border-right: none;
  padding: 6px 12px 6px 6px;
  text-transform: none;
  font-weight: 700;
}
.css-1l6c7y9 > *:nth-of-type(1) {
  font-size: 20px;
}
.css-zm52d6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 8px 0px 4px;
}
.css-dixl0t {
  width: 12;
  height: 16;
}
.dGXCjo {
  display: block;
}
.eDOeRK {
  display: flex;
  overflow-x: scroll;
  padding: 1px;
}
.ligASl > div > div {
  background: none !important;
}
.hcVlAz.one-row {
  height: auto;
  margin-right: 100px;
}
.hcVlAz {
  display: flex;
  margin-bottom: unset;
  overflow-x: auto;
  max-height: 200px;
}
.hcVlAz.one-row .view-all {
  position: absolute;
  right: 0px;
}
.kGzmix {
  padding: 4px 10px;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 40px;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  -webkit-box-align: center;
  align-items: center;
  border-color: rgb(224, 225, 227);
}
.cTaNfx {
  font-size: 14px;
  line-height: 1;
  font-weight: normal;
  white-space: nowrap;
}
.YSGTM {
  font-weight: bold;
  color: rgb(58, 136, 239);
  white-space: nowrap;
}
/* .ljgfSl{
  color: hsl(0, 0%, 50%);
  font-weight: 600;
} */
.ljgfSl:hover{
  text-decoration: none;
}
.sub_label{
  color: #000;
  font-weight: 600;
}
.ddsRZk {
  margin: 0px;
  color: rgb(70, 76, 85);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 10px;
}
@media (min-width: 992px) {
  .fNpmOJ {
    min-width: 136px;
  }
  .dGXCjo {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    /* padding-bottom: 10px; */
  }
  .hVORPI {
    padding: 0px;
  }
  .gPeCQR {
    z-index: initial;
    width: unset;
    position: initial;
  }
  .eOsWZf {
    filter: initial;
    width: initial;
  }
  .eOsWZf > * {
    margin: 0px 10px;
  }
  .eOsWZf > :last-child {
    margin-right: 0px;
    margin-left: 0px;
  }
  .eOsWZf > :nth-child(2) {
    margin-left: 0px;
  }
  .dGXCjo {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    /* padding-bottom: 10px; */
  }
}
@media (min-width: 900px) {
  .css-td2zoy {
    border-radius: 6px;
  }
}

@media (min-width: 768px) {
  .cOTnrw {
    margin-bottom: 10px;
}
  .hcVlAz {
    margin-bottom: 10px;
    flex-wrap: wrap;
}
  .eDOeRK {
    padding: 0px;
    overflow-x: visible;
  }
  .eOsWZf {
    box-shadow: none;
  }
  .jSvZvk {
    padding: 24px 16px;
    flex: 1 1 0%;
    height: auto;
    /* overflow-y: scroll; */
  }
  .lmVkIt {
    padding: 0%;
    transform: translate(0px);
  }
  .dNPQQh {
    font-size: inherit;
  }
  .gjZPbt {
    padding: 24px 16px 16px;
    margin: 0px;
  }
  .iEzCwv {
    flex: 1 1 0%;
    z-index: 10;
    margin-right: 0px;
    position: relative;
    padding-left: 20px;
  }
  .cCmKOx {
    background-color: rgb(247, 247, 248);
  }
  .hmNdbg .dropDownPopover .divider {
    display: block;
  }
  .izOyRA .tagList {
    margin-bottom: -20px;
  }
  .jzJwEM {
    margin-bottom: -5px;
    flex-wrap: wrap;
  }
  .jbRQcv {
    display: block;
    /* padding: 15px 8px 0px; */
  }
  .hVORPI {
    padding: 10px;
  }
  .blQYHO {
    font-size: 20px;
  }
}
@media (min-width: 576px) {
  .izOyRA .dropDownContentHolder {
    padding: 24px 0px 0px;
  }
}
