.md\:pt-3 {
  padding-top: 1.25rem;
}
.mt-4 {
  margin-top: 1.875rem;
}
.container {
  width: 100%;
  padding-right: 0.3125rem;
  padding-left: 0.3125rem;
  margin-right: auto;
  margin-left: auto;
}
.container {
  position: relative;
}
@media (min-width: 576px) {
  .container {
    max-width: 35rem;
  }
}
.shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 var(--tw-shadow-color);
}
@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
  .container {
    max-width: 45.5rem;
  }
  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .md\:shadow-\[0px_1px_10px_rgba\(0\2c 0\2c 0\2c 0\.15\)\],
  .md\:shadow-none {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .md\:shadow-\[0px_1px_10px_rgba\(0\2c 0\2c 0\2c 0\.15\)\] {
    --tw-shadow: 0 0.0625rem 0.625rem rgba(0, 0, 0, 0.15);
    --tw-shadow-colored: 0 0.0625rem 0.625rem var(--tw-shadow-color);
  }
  .md\:mt-3 {
    margin-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }
  .md\:mt-4 {
    margin-top: 1.875rem;
  }
  .md\:border-t {
    border-top-width: 0.0625rem;
  }
  .md\:flex {
    display: flex;
  }
  .md\:pl-3 {
    padding-left: 1.25rem !important;
  }
}
@media (min-width: 1010px) {
  .container {
    max-width: 60.625rem;
  }
  .lg\:pl-3 {
    padding-left: 1.25rem;
  }
  .lg\:py-5 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
  }
}
@media (min-width: 1350px) {
  .container-max-width-2 {
    max-width: 75rem;
  }
}
.rounded-\[5px\] {
  border-radius: 0.3125rem;
}

.top-\[30px\] {
  top: 1.875rem !important;
}
.sticky-wrapper-zindex {
  z-index: 1030;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 120px !important;
}
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}
.sticky-wrapper-waypoint {
  position: relative;
  top: -0.0675rem;
}

.border-b {
  border-bottom-width: 0.0625rem;
}
.switch-bar {
  border-radius: 5rem;
  border: 1px solid transparent;
  background-color: #f2f2f2;
  display: -webkit-inline-flex;
  display: inline-flex;
  padding: 0.25rem;
}
.switch-bar-block {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.form-radio-control-input:checked + .switch,
.switch-active {
  cursor: auto;
  color: #fff;
  background-color: var(--nav-pills-active-background-color);
}

.form-radio-control-input:checked + .switch,
.switch-active,
.switch[data-selected] {
  cursor: auto;
  color: #fff;
  background-color: var(--nav-pills-active-background-color);
}
.switch {
  display: inline-block;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  cursor: pointer;
  color: inherit;
  white-space: nowrap;
  text-align: center;
}
.switch,
.switch-control {
  border-radius: 5rem;
  padding: 0.1875rem 1.25rem;
}
.py-3 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}
.mt-2-5 {
  margin-top: 0.9375rem;
}
.rounded-\[8px\] {
  border-radius: 0.5rem;
}
.border {
  border-width: 1px;
}
.border-\[\#E5E5E5\] {
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229 / var(--tw-border-opacity));
}
.bg-\[\#FCFBFC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(252 251 252 / var(--tw-bg-opacity));
}
.flex-1 {
  flex: 1 1 0%;
}
.py-\[24px\] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.875rem;
}
.pt-4 {
  padding-top: 1.875rem;
}
.border-t {
  border-top: solid #e5e5e5 1px;
}
.heading-3_5 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.625;
}
.heading-4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
}
.bi {
  margin-right: 0px !important;
  top: 0px !important;
}
.vehicle_info svg {
  width: 24px;
  height: 24px;
}
.min-w-\[25px\] {
  min-width: 1.5625rem;
}
.h-\[25px\] {
  height: 1.5625rem;
}
.vehicle_info p {
  margin-top: 0;
  margin-bottom: 0px;
}
.border-l-2 {
  border-left-width: 0.125rem;
}
.border-l {
  border-left: solid 2px #999999;
}
b,
strong {
  font-weight: 600 !important;
}
